<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="app">
      <span id="time" class="time"> 9:21 </span>
      <span id="day_now" class=""> Sunday</span>
      <span id="date_now" class=""> May 14, 2023</span>
      <br />
      <div class="availability" style="display: flex; flex-direction: column">
        <span
          >Monday
          <button class="avail-btn" name="mon" id="monday">
            available
          </button></span
        >
        <span
          >Tuesday
          <button class="avail-btn" name="tue" id="tuesday">
            available
          </button></span
        >
        <span
          >Wednesday
          <button class="avail-btn" name="wed" id="wednesday">
            available
          </button></span
        >
        <span
          >Thursday
          <button class="avail-btn" name="thu" id="thursday">
            available
          </button></span
        >
        <span
          >Friday
          <button class="avail-btn" name="fri" id="friday">
            available
          </button></span
        >
        <span
          >Saturday
          <button class="avail-btn" name="sat" id="saturday">
            available
          </button></span
        >
        <span
          >Sunday
          <button class="avail-btn" name="sun" id="sunday">
            available
          </button></span
        >
      </div>
      <button disabled="false" class="save">Save Sched</button>
      <button class="export">export in pdf</button>

      <div class="prev-week">
        previous week sched <br />
        <div>
          <%data.forEach((week) => { %>

          <span class="firstday"> <%=week[0]%> </span> -
          <span class="lastday"> <%=week[1]%> </span> <br />
          <div>
            <% new_week = week.slice(2); new_week.forEach((day) => { %>
            <span> <%=day%> </span>
            <% })%>
          </div>
          <% })%>
        </div>
        <div></div>
      </div>
    </div>
    <!-- dependencies -->
    <script src="https://cdn.jsdelivr.net/npm/dayjs@1/dayjs.min.js"></script>
    <script src="../src/dependencies/jspdf.debug.js"></script>
    <script src="../src/dependencies/html2canvas.min.js"></script>
    <script src="../src/dependencies/html2pdf.min.js"></script>

    <!--  scripts  -->
    <script src="../src/time.js"></script>
    <script src="../src/avail.js"></script>
    <script src="../src/save.js"></script>
    <script src="../src/export.js"></script>
  </body>
</html>
